:root {
    --background-light: rgba(0, 0, 0, 0.6);
    --background-light-hover: rgba(99, 99, 99, 0.4);
    --background-dark: rgba(0, 0, 0, 0.9);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.6;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/water.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title {
    font-size: 80px;
    font-weight: 1000;
    -webkit-text-stroke: 3px black;
    margin-top: 50px;
}

#settings {
    display: flex;
    /* display: none; */
    flex-direction: column;
    font-size: 40px;
    max-width: 700px;
    padding: 2rem 4rem 2rem 4rem;
    margin: 8rem 0;
    background-color: var(--background-light);
    border-radius: 5px;
    animation: fadeIn 1.5s;
}

#p2-form-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BUTTONS */

button {
    border: none;
    padding: 10px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}

#p1 {
    color: yellow;
}

#p2-form-select {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    list-style-type: none;
}

/* .p2-buttons {
    background-color: transparent;
    color: white;
    transition: transform 0.3s;
}
.p2-buttons:hover {
    transform: scale(1.2);
    color: yellow;
}
.p2-buttons:focus {
    transform: scale(1.4);
    color: yellow;
    font-weight: 800;
} */
.p2-buttons {
    display: flex;
    justify-content: center;
    margin-right: 35px;
    gap: 25px;
}
.p2-buttons input[type='radio'] {
    opacity: 0.011;
    z-index: 100;
    transition: transform 0.3s;
}

.p2-buttons input[type='radio']:checked + label {
    transform: scale(1.2);
    color: yellow;
    font-weight: 800;
}

#begin,
.ready {
    background-color: var(--background-dark);
    color: yellow;
    width: 200px;
    align-self: center;
    margin-top: 35px;
    transition: transform 0.3s;
}

#begin:hover,
.ready:hover {
    transform: scale(1.2);
}
#begin:active,
.ready:active {
    transform: scale(1.4);
    background-color: yellow;
    color: white;
    -webkit-text-stroke: 1px darkgoldenrod;
}

/* Game Play */

#game-board {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    max-width: 900px;
    max-height: 900px;
    min-width: 900px;
    min-height: 900px;
    padding: 2rem 4rem 2rem 4rem;
    margin: 8rem 0;
    background-color: var(--background-light);
    border-radius: 5px;
    animation: fadeIn 1.5s;
}

#player1-board,
#player2-board {
    transform-origin: top left;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: center;
    top: 30px;
    padding: 0;
    margin: 0;
    font-size: 0;
}

/* Grids */

.box {
    flex: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    min-height: 60px;
    min-width: 60px;
    outline: 2px solid grey;
    border: 0px;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
